# remove vscode,sigasi, pycharm files
##########################
/.settings
.project
.library_mapping.xml
/.vscode
/.idea

# untrack doc files
/doc


#########################################################
# untracked project files
#########################################################
# Untracked all files
/project/vivado00/*
# track only the *.xpr files
!/project/vivado00/*.xpr

# Untracked all files
/project/vivado01/*
# track only the *.xpr files
!/project/vivado01/*.xpr

# untracked temporary files
/constraints/*/*_tmp.xdc

# Track essential Xilinx IP files
/ip/xilinx/coregen/*/*
!/ip/xilinx/coregen/*/*.xdc
!/ip/xilinx/coregen/*/*.xci
!/ip/xilinx/coregen/*/*.mif
/ip/opal_kelly

# Untracked python compiled files
/simu/lib/common/**/__pycache__
# Untracked python unitary tes output files
/simu/lib/common/**/__output__
/simu/script/*/*
/simu/script/*.mem
/simu/script/*.log
/simu/script/*.ini
/simu/launch_sim_processed.json
# untracked coverage files
/simu/results/tmp
# Untracked output simulation directory
/vunit_out